*.pyc
*.DS_Store
*.pt

testing/
# data/

main/working_dir
main/results.html

detection_model/datasets/
detection_model/runs/
detection_model/test/
detection_model/training/
detection_model/validation/
